.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 1 1 50rem;
}
